html{
    scroll-behavior: smooth;
}
header{
    background-color: black;
    padding: 0%;
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    top: 0%;
    align-items: center;    
}
.amor{
    margin-bottom: 45%;
}
.vida{
    width: 80%;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%; 
}
.logo{
    text-align: center;
}
.img_logo{
    width: 30%;
    margin-right: 50%;
}
.itens_menu{
    text-align: center;
}
.itens_menu li{
    font-size: 1.5em;
    line-height: 1.5;
}
.itens_menu a:link, .itens_menu a:visited {
    color: white;
    text-decoration: none;
}

.itens_menu a:hover{
    background-color: #00fe8a;
    padding: 0.5%;
    color: black;
    border-radius: 10px
}
body{
    background-color: rgb(20, 20, 20);

}
section{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.container{
    width: 80%;
    margin:auto;
    margin-top: 0%;
}

.img_topo{
    width: 50%;
    height: 500px;
    margin-top: 2%;
    margin-left: 46%;
    float: right;
    position: absolute;

}

.img_curso{
    width: 50%;
    height: px;
    margin-top: 10%;
    margin-left: 40%;
    float: right;
    position: absolute;
}

.frase{
    float:left;
    margin-left: 13%;
    margin-top: 15%;
    font-size: 4.5em;
    color:#00fe8a;
    font-family: 'Fredoka One', cursive;
    width: 50%;
    text-align: left;
    text-indent: 0px;
}

footer{
    background-color: #00fe8a;
    margin-top: 5%;
    text-align: center;
    padding: 3%;
}
footer p{
    color: black;
    font-family: 'Fredoka One', cursive;
}

p{
    color: white;
    font-size: 1.5em;
    text-indent: 0px;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 0.5%;
    margin-top: 0%;
    font-family: 'Russo One', sans-serif;
}

h1{
    color: deepskyblue;
    text-align: left;
    font-size: 2.5em;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', cursive;
}
h2{
    color: #00fe8a;
    text-align: center;
    font-size: 3.5em;
    margin-top: 5%;
    margin-bottom: 7%;
    font-family: 'Fredoka One', cursive;
}
h3{
    color: deepskyblue;
    text-align: center;
    font-size: 3.7em;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', cursive;
}
h4{
    color:goldenrod;
    text-align: center;
    font-size: 2.9em;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', cursive;
}
/*COR DOS LINKS*/
a:link {
    color: white;
}
a:visited {
    color:black; 
}
a:hover {
    color: black; 
}
a:active {
    color: 	black; 
}






/*Altera configuração quando a tela for maior que 601 px*/
@media screen and (min-width:901px) {

    header{
        background-color:black;
        flex-direction: row;
        padding: 1%;

    }
    .itens_menu{
        position: absolute;
        right: 1%;
        top: 10%;
        width: 70%;
    }

    .itens_menu ul li{
        display: inline;
        margin-left: 3%;
    }
    .img_logo{
        margin-right: 30%;
    }

}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Russo One', sans-serif;  
    font-weight: bold;  
}

input[type=text], input[type=tel], input[type=email], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid ;
    font-weight: bold;
    border-radius: 10px;
    resize: vertical;
    font-family: 'Russo One', sans-serif;   

}

input[type=submit] {
    background-color:  #00fe8a;
    color: black;
    padding: 12px 20px;
    margin-right: 6%;
    width: 79%;
    border: 2px solid ;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    font-family: 'Russo One', sans-serif;   
  }

input[type=submit]:hover {
    background-color: black;
    border: 2px solid ;
    color: #00fe8a; 
}

form {
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}

.form{
    background-color: #00fe8a;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Russo One', sans-serif;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 85%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Altera configuração quanod a tela está menor que 900px */
@media screen and (max-width:600px) {

.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    }   
}      
